@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a sample web app created from the following tutorial: <br />
        <a href="https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-dotnet" target="_blank">Quickstart: Create an ASP.NET Core web app in Azure</a></p>
    <p>It is a Asp.Net Core 3.1 Razor Pages application. I will use it as a container for my proof of concepts</p>
</div>


