@page
@model NeetpiqWebApp.Pages.UrlPreviewModel
@{
    ViewData["Title"] = "UrlPreview";
}

<h1>UrlPreview</h1>

<form action="">
    <div class="form-group">
        <label for="url">Enter URL below:</label>
        <input type="text" class="form-control" id="url" name="url" placeholder="Enter URL ...">
    </div>
    <button type="submit" class="btn btn-primary">Show Preview</button>
</form>

